*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 60px;
  background: #363dc2;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  font-family: 'Ubuntu', sans-serif;
}

section {
  padding: 36px 0;
}

.btn-primary {
  background: #282faf;
  border: 0;
  cursor: pointer;
  padding: 8px;
  margin-top: 36px;
  border-radius: 100px;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
}

.btn-primary svg {
  margin-left: 8px;
}

a {
  color: #29b6f6;
}

a:hover {
  color: #5a60d1;
}

.main-cta {
  animation: 1s ease-out 0s 1 slideInFromLeft;
  -webkit-animation-delay: .6s;
  /* Safari 4.0 - 8.0 */
  animation-delay: .6s;
  animation-fill-mode: forwards;
  visibility: hidden;
}

.shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.23);
}

.shadow-no-hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.jumbotron {
  padding: 4em 0 10em 0;
  background: transparent;
  color: #fff;
  text-align: center;
}

.jumbotron .is-flex {
  display: flex;
  align-items: center;
}

.jumbotron .is-flex h1 {
  font-size: 63px;
  font-weight: bolder;
}

.jumbotron .is-flex p.subtext {
  font-size: 20px;
  color: #efefef;
}

.jumbotron .is-flex p.subtext svg {
  font-size: 6px;
  vertical-align: middle;
  margin: 0 10px;
}

.jumbotron #the-blob {
  margin-left: 0;
  margin-top: 45%;
}

.profile-img {
  width: 200px;
  height: 200px;
  margin: -140px auto 36px auto;
}

.profile-img img {
  border-radius: 50%;
  border: 4px solid #efefef;
}

#skills {
  background: #efefef;
}

#skills .backstory {
  padding-bottom: 2em;
}

#skills .backstory p {
  font-size: 18px;
  margin-bottom: 48px;
}

#skills .backstory .social-links ul {
  list-style: none;
  padding: 0;
}

#skills .backstory .social-links ul li {
  display: inline-block;
}

#skills .backstory .social-links ul li a {
  font-size: 16px;
  color: #939393;
  margin: 0 16px;
  line-height: 32px;
  transition: .3s;
}

#skills .backstory .social-links ul li a svg {
  font-size: 32px;
  line-height: 32px;
  vertical-align: bottom;
  margin-right: 8px;
}

#skills .backstory .social-links ul li a:hover {
  color: #29b6f6 !important;
}

.block {
  margin-bottom: 8px;
  text-align: center;
  background: #fff;
  border-right: 4px solid #efefef;
  border-left: 4px solid #efefef;
  padding: 36px;
}

.block .block-icon {
  font-size: 40px;
  color: #efefef;
  background: #29b6f6;
  width: 80px;
  height: 80px;
  margin: 0 auto 24px auto;
  border-radius: 50%;
}

.block .block-icon svg {
  vertical-align: bottom;
}

.block p {
  text-align: left;
  margin: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #151515;
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 400px) {
  .jumbotron {
    padding: 6em 0 12em 0;
  }
  .jumbotron .morph-wrap #the-blob {
    margin-left: 0;
    margin-top: 38%;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .btn-primary {
    width: auto;
    margin-top: 0;
  }
  .jumbotron {
    padding: 6em 0 7em 0;
  }
  .jumbotron h1 {
    font-size: 80px;
    font-weight: bold;
  }
  .jumbotron .morph-wrap #the-blob {
    margin-top: 0;
  }
  .profile-img {
    width: 280px;
    height: 280px;
    margin: -140px auto 36px auto;
  }
  .profile-img img {
    border-radius: 50%;
    border: 3px solid #fff;
  }
}

/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
svg,
svg circle {
  fill: #282faf;
}

@keyframes from0to360 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes from360to0 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

#Circle1 {
  animation: from0to360 4s linear infinite;
  cx: 150;
  cy: 155;
  r: 95;
  transform-origin: 150px 150px;
}

#Circle2 {
  animation: from360to0 4s linear infinite;
  cx: 155;
  cy: 140;
  r: 100;
  transform-origin: 150px 145px;
}

#Circle3 {
  animation: from0to360 3s linear infinite;
  cx: 145;
  cy: 150;
  r: 90;
  transform-origin: 150px 150px;
}

#Circle4 {
  animation: from0to360 5s linear infinite;
  cx: 50;
  cy: 100;
  r: 5;
  transform-origin: 120px 100px;
}

#Circle5 {
  animation: from360to0 7s linear infinite;
  cx: 10;
  cy: 140;
  r: 7;
  transform-origin: 135px 100px;
}

#Circle6 {
  animation: from0to360 4s linear infinite;
  cx: 50;
  cy: 100;
  r: 4;
  transform-origin: 120px 100px;
}

#Circle7 {
  animation: from360to0 3s linear infinite;
  cx: 90;
  cy: 100;
  r: 14;
  transform-origin: 135px 90px;
}

.morph-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}
