//Variables -----------------------------------------------

$font-body-color: #333;

$color-primary: #363dc2;
$color-primary-darker: #282faf;
$color-accent: #29b6f6;
$color-light-gray: #F2F2F2;
$color-dark-gray: #363636;
$color-white: #fff;
$color-black: #000;

$spacing: 36px;
$spacing-less: 16px;
$footer-height: 60px;
$font-size: 17px;


//Basic ---------------------------------------------------

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html{
   
   font-family: 'Open Sans', sans-serif;
   font-size: $font-size;
   position: relative;
   min-height: 100%;
   
}


body{
   padding-bottom: $footer-height;
   background: $color-primary;
}


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
  font-family: 'Inconsolata', monospace;
}


section{
  padding: $spacing 0;
}

.btn-primary{
  background: $color-accent;
  border: 0;
  cursor: pointer;
  padding: $spacing-less;
  margin-top: $spacing;
  border-radius: 100px;
  width: 100%;
  
  &:hover{

  }
  &:visited{
    
  }
  &:active{

  }
  &:focus{

  }
}

.main-cta{
  animation: 1s ease-out 0s 1 slideInFromLeft;
  -webkit-animation-delay: .5s; /* Safari 4.0 - 8.0 */
  animation-delay: .5s;
  animation-fill-mode: forwards;
  visibility: hidden;
}

.shadow{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  &:hover{
     box-shadow: 0 10px 20px rgba(0,0,0,0.15), 0 2px 4px rgba(0,0,0,0.23);
  }
}

.shadow-no-hover{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}





// Main Page CSS ---------------------------------------------------


.jumbotron{
  padding: 8em 2em 4em 2em;
  background: transparent;
  color: $color-white;
  text-align: center;

  .is-flex{
    display: flex;
    align-items: center;

    
  }

  svg{
    margin-left: 8px;
  }
}



#skills{
  background: $color-white;

  .backstory{
    p{
      font-size: 18px;
    }

    .social-links{
      ul{
        list-style: none;

        li{
          display: inline-block;
          
          a{
            font-size: 40px;
            color: $color-accent;
          }

        }
      } 
    }
  }

}

.profile-img{
  width: 140px;
  height: 140px;
  margin: -105px auto $spacing auto;

  img{
    border-radius: 50%;
    border: 3px solid $color-white;
  }
}

.block{
  margin-bottom: $spacing-less;

  .block-icon{
    font-size: 40px;
    color: $color-primary-darker;
  }

}



//Navbar & Footer -----------------------------------------

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
  line-height: $footer-height; /* Vertically center the text there */
  background-color: $color-dark-gray;
}






//Media queries ------------------------------------------------

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .btn-primary{
    width: auto;
    margin-top: 0;
  }

  .jumbotron{
    padding: 10em 2em 8em 2em;
    text-align: left;
  }
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}




// Animations & Morph Blob -----------------------------------------------------
svg,
svg circle {
  fill: $color-primary-darker;
}

#the-blob{
  margin-left: -18px;
}

@keyframes from0to360 {
  from{transform:rotate(0);}
  to{transform:rotate(360deg);}
}

#Circle1 {
  animation: from0to360 4s linear infinite;
  cx: 150;
  cy: 145;
  r: 100;
  transform-origin: 145px 150px;
}

@keyframes from360to0 {
  from{transform:rotate(360deg);}
  to{transform:rotate(0deg);}
}

#Circle2 {
  animation: from360to0 7s linear infinite;
  cx: 150;
  cy: 155;
  r: 100;
  transform-origin: 170px 150px;
}

#Circle3 {
  animation: from0to360 5s linear infinite;
  cx: 145;
  cy: 150;
  r: 100;
  transform-origin: 140px 145px;
}

#Circle4 {
  animation: from360to0 4s linear infinite;
  cx: 155;
  cy: 140;
  r: 100;
  transform-origin: 150px 155px;
}

.morph-wrap {
	position: absolute;
	top:0;
	left: 0;
  z-index: -1;
  height: 100vh;
}

@keyframes slideInFromLeft {
  0% {
      transform: translateX(-10%);
      opacity: 0;
  }

  100% {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
  }
}