//Variables -----------------------------------------------

$font-body-color: #333;

$color-primary: #363dc2;
$color-primary-lighter: lighten($color-primary, 10%);
$color-primary-darker: #282faf;
$color-accent: #29b6f6;
$color-light-gray: #efefef;
$color-medium-gray: #939393;
$color-dark-gray: #151515;
$color-white: #fff;
$color-black: #000;

$spacing-8: 8px;
$spacing-16: 16px;
$spacing-24: 24px;
$spacing-36: 36px;
$spacing-48: 48px;




$footer-height: 60px;
$font-size: 18px;


//Basic ---------------------------------------------------

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html{
   overflow-x: hidden;
   font-family: 'Open Sans', sans-serif;
   font-size: $font-size;
   position: relative;
   min-height: 100%;
   
}


body{
   padding-bottom: $footer-height;
   background: $color-primary;
}


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5{
  font-family: 'Ubuntu', sans-serif;
  
}


section{
  padding: $spacing-36 0;
}

.btn-primary{
  background: $color-primary-darker;
  border: 0;
  cursor: pointer;
  padding: $spacing-8;
  margin-top: $spacing-36;
  border-radius: 100px;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  
  svg{
    margin-left: 8px;
  }

  &:hover{

  }
  &:visited{
    
  }
  &:active{

  }
  &:focus{

  }
}

a{
  color: $color-accent;


  &:hover{
    color: $color-primary-lighter;

  }
  &:visited{
    
  }
  &:active{

  }
  &:focus{

  }
}

.main-cta{
  animation: 1s ease-out 0s 1 slideInFromLeft;
  -webkit-animation-delay: .6s; /* Safari 4.0 - 8.0 */
  animation-delay: .6s;
  animation-fill-mode: forwards;
  visibility: hidden;
}

.shadow{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  &:hover{
     box-shadow: 0 10px 20px rgba(0,0,0,0.15), 0 2px 4px rgba(0,0,0,0.23);
  }
}

.shadow-no-hover{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}






// Main Page CSS ---------------------------------------------------

//min up to 380

.jumbotron{
  padding: 4em 0 10em 0;
  background: transparent;
  color: $color-white;
  text-align: center;

  .is-flex{
    display: flex;
    align-items: center;

    h1{
      font-size: 63px;
      font-weight: bolder;
    }

    p.subtext{
      font-size: 20px;
      color: $color-light-gray;

      svg{
        font-size: 6px;
        vertical-align: middle;
        margin: 0 10px;
        
      }
    }
    
  }

  #the-blob{
    margin-left:0;
    margin-top:45%;
  }
}


.profile-img{
  width: 200px;
  height: 200px;
  margin: -140px auto $spacing-36 auto;

  img{
    border-radius: 50%;
    border: 4px solid $color-light-gray;
  }
}


#skills{
  background: $color-light-gray;

  .backstory{
    padding-bottom: 2em;

    p{
      font-size: 18px;
      margin-bottom: $spacing-48;
    }

    .social-links{
      ul{
        list-style: none;
        padding: 0;

        li{
          display: inline-block;

          
          
          a{
            font-size: 16px;
            color: $color-medium-gray;
            margin: 0 $spacing-16;
            line-height: 32px;
            transition: .3s;

            svg{
              font-size: 32px;
              line-height: 32px;
              vertical-align: bottom;
              margin-right: $spacing-8;
            }

            &:hover{
              color: $color-accent !important;
            }
          }

          

        }
      } 
    }
  }

}



.block{
  margin-bottom: $spacing-8;
  text-align: center;
  background: $color-white;
  border-right: 4px solid $color-light-gray;
  border-left: 4px solid $color-light-gray;
  padding: $spacing-36;

  .block-icon{
    font-size: 40px;
    color: $color-light-gray;
    background: $color-accent;
    width: 80px;
    height: 80px;
    margin: 0 auto $spacing-24 auto;
    border-radius: 50%;

    svg{
      vertical-align: bottom;
    }
  }

  p{
    text-align: left;
    margin: 0;
  }

}



//Navbar & Footer -----------------------------------------

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
  line-height: $footer-height; /* Vertically center the text there */
  background-color: $color-dark-gray;
}






//Media queries ------------------------------------------------

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 400px) {
  
.jumbotron{
  padding: 6em 0 12em 0;

      .morph-wrap{
        
      #the-blob{
        margin-left:0;
        margin-top:38%;
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .btn-primary{
    width: auto;
    margin-top: 0;
  }

  .jumbotron{
    padding: 6em 0 7em 0;

    h1{
      font-size: 80px;
      font-weight: bold;
    }

    .morph-wrap{
      #the-blob{
        margin-top: 0;

      }
    }
  }

  .profile-img{
    width: 280px;
    height: 280px;
    margin: -140px auto $spacing-36 auto;
  
    img{
      border-radius: 50%;
      border: 3px solid $color-white;
    }
  }
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}




// Animations & Morph Blob -----------------------------------------------------
svg,
svg circle {
  fill: $color-primary-darker;
}



@keyframes from0to360 {
  from{transform:rotate(0);}
  to{transform:rotate(360deg);}
}



@keyframes from360to0 {
  from{transform:rotate(360deg);}
  to{transform:rotate(0deg);}
}
#Circle1 {
  animation: from0to360 4s linear infinite;
  cx: 150;
  cy: 155;
  r: 95;
  transform-origin: 150px 150px;
}

#Circle2 {
  animation: from360to0 4s linear infinite;
  cx: 155;
  cy: 140;
  r: 100;
  transform-origin: 150px 145px;
}

#Circle3 {
  animation: from0to360 3s linear infinite;
  cx: 145;
  cy: 150;
  r: 90;
  transform-origin: 150px 150px;
}

#Circle4 {
  animation: from0to360 5s linear infinite;
  cx: 50;
  cy: 100;
  r: 5;
  transform-origin: 120px 100px;
}

#Circle5 {
  animation: from360to0 7s linear infinite;
  cx: 10;
  cy: 140;
  r: 7;
  transform-origin: 135px 100px;
}

#Circle6 {
  animation: from0to360 4s linear infinite;
  cx: 50;
  cy: 100;
  r: 4;
  transform-origin: 120px 100px;
}

#Circle7 {
  animation: from360to0 3s linear infinite;
  cx: 90;
  cy: 100;
  r: 14;
  transform-origin: 135px 90px;
}




.morph-wrap {
	position: absolute;
	top:0;
	left: 0;
  z-index: -1;
  height: 100vh;
}

@keyframes slideInFromLeft {
  0% {
      transform: translateX(-10%);
      opacity: 0;
  }

  100% {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
  }
}