@font-face {
    font-family: Geomanist;
    src: url(../assets/Geomanist-Bold.otf);
}




html {
  background: #293143;
  overflow: hidden;
  color: white;
  font-family: Geomanist;
  max-height: 1080px;
  max-width: 1920px;
  height: 1080px;
  width: 1920px;
}



video {
  transition: 1s opacity;
  max-height: 1080px;
  max-width: 1920px;
  height: 1080px;
  width: 1920px;
}

#flexbox {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1080px;
  width: 1920px;
}


#welcome {
  font-size: 80px;
  width: 24ch;
  align-self: center;
  text-align: center;
  transition: opacity .3s;
  opacity: 0;
  margin-bottom: 180px;
}

#welcome.show{
  opacity: 1;
}
